<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Covid19 Handbook</title>

    <!-- Favicons -->
    <link href="~/Content/assets/img/covid19.png" rel="icon">
    <link href="~/Content/assets/img/covid19.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "106630732038807");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v13.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a href="mailto:contact@covid19handbook.com">contact@covid19handbook.com</a>
                <i class="bi bi-phone"></i> +84 0905 232425
            </div>
            <div class="d-none d-lg-flex social-links align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="~/home">Covid19 Handbook</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link scrollto active" href="~/Home">Trang chủ</a></li>
                        <li><a class="nav-link scrollto" href="~/Home/about#about">Giới thiệu</a></li>
                        <li><a class="nav-link scrollto" href="~/Home/news">Tin tức</a></li>

                        <li class="dropdown">
                            <a href="#"><span>Tư vấn</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Triệu chứng</a></li>
                                <li><a href="#">Cách ly Y tế</a></li>
                                <li><a href="#">Sức khỏe & Dinh dưỡng</a></li>

                                <li><a href="#">Thuốc & Y cụ</a></li>
                                <li><a href="#">Hậu covid19</a></li>

                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="~/Home/documents">Văn bản</a></li>
                        <li><a class="nav-link scrollto" href="~/Home/doctors">Bác sỹ</a></li>
                        <li><a class="nav-link scrollto" href="~/Home/qnas">Q&A</a></li>
                        <li><a class="nav-link scrollto" href="~/Home/trian">Tri ân</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="~/Home/Hotlines" class="appointment-btn scrollto"><span class="d-none d-md-inline">Hotlines</span></a>

        </div>
    </header><!-- End Header -->
    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@RenderSection("heading1",required:false)</h2>
                    <ol>
                        <li>@RenderSection("link",required:false)</li>
                        <li>@RenderSection("heading2", required: false)</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <div class="container">
                <p>
                    @RenderBody()
                </p>
            </div>
        </section>        
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Covid19 Handbook</h3>
                        <p>
                            Phường An Hải Bắc <br>
                            Sơn Trà <br>
                            Đà Nẵng <br><br>
                            <strong>Phone:</strong> +84 0905 232425<br>
                            <strong>Email:</strong> contact@covid19handbook.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Liên kết</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Home">Trang chủ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Home/About#about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Home/News">Tin tức</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Home/doctors">Bác sỹ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Home/trian">Tri ân</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Tư vấn sức khỏe</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Triệu chứng</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Cách ly Y tế</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sức khỏe & Dinh dưỡng</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Thuốc & Y cụ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sức khỏe hậu Covid19</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Đăng ký nhận tin</h4>
                        <p>Đăng ký nhận bản tin mới từ Covid19 Handbook, vui lòng điền địa chỉ email vào hộp văn bản và bấm đăng ký.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Đăng ký">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Covid19 handbook</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                    Designed by <a href="#">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>