@model Covid19Handbook.Models.comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QAId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QAId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
