@model Covid19Handbook.Models.hotline

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hotline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hotline1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotline1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
